#过滤文件设置，表示过滤这个文件夹
/target/
.mvn/wrapper/maven-wrapper.jar
/mvnw
/mvnw.cmd
.dev.log
.iml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/